/*==========================================================================
  Pro Mode
  ==========================================================================  */

[pro-mode="true"] h2 {
  display: none;
}

[pro-mode="true"] hr {
  margin: .5rem 0;
}

[pro-mode="true"] .typeboard_controls .control_addon {
  display: flex;
}

[pro-mode="true"] .typeboard_controls .control_addon button {
  margin-left: .25rem;
}

[pro-mode="true"] .typeboard_controls .control_addon button svg {
  margin: 0;
}

[pro-mode="true"] .typeboard_controls .control_addon button span {
  display: none;
}

[pro-mode="true"] footer {
  display: none;
}

[pro-mode="true"] #text_board {
  margin: .5rem;
}

[pro-mode="true"] #text_board pre {
  margin: 0rem;
}

[pro-mode="true"] textarea {
  margin: 0rem;
}

[pro-mode="true"] #tabs {
  margin: 0.25rem 0.5rem 0 .5rem;
}

[pro-mode="true"] .type_column .charmap {
  padding: 0 .25rem;
}

[pro-mode="true"] .typeboard_controls input, [pro-mode="true"] .typeboard_controls select {
  margin: 0rem;
}

[pro-mode="true"] .typeboard_controls #undo_colors {
  display: flex;
}

@media (min-width: 45em) {
  [pro-mode="true"] .sub_header {
    display: none;
  }
  [pro-mode="true"] .logo {
    width: 1.5rem;
    margin-right: 0.7rem;
  }
  [pro-mode="true"] h1 {
    font-size: 1.1rem;
  }
  [pro-mode="true"] aside {
    padding: .5rem;
  }
  [pro-mode="true"] .typeboard_controls input[type=range] {
    margin: .5rem 0;
  }
  [pro-mode="true"] #type_list li {
    height: 1.5rem;
  }
  [pro-mode="true"] #type_list button {
    height: 1.5rem;
    width: 1.5rem;
  }
  [pro-mode="true"] .typeboard_controls input, [pro-mode="true"] .typeboard_controls select {
    padding: 0;
  }
}
