/*
Type Board
Author: Andrew Battenburg
*/

/*==========================================================================
  Imports
  ==========================================================================  */

/* TODO:" Add blank type for missing glyphs  */
@import 'blankType.css';
@import 'proMode.scss';
@import 'inputs.scss';
@import 'mobile.css';

/*==========================================================================
  Global
  ==========================================================================  */

:root {
  /*Default settings*/
  --column-font-size: 1rem;
  --font-weight: 400;
  --font-style: normal;
  --letter-spacing: 0rem;
  --background-color: rgba(255, 255, 255, 0.996);
  --text-color: rgba(17, 17, 17, 0.996);
  --accent-color: rgba(205, 205, 205, 0.996);
  /*transform: translateZ(0);*/
}

html {
  overflow: hidden;
  font-family: sans-serif;
}

#app {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: .2s all;
}

body {
  margin: 0;
}

/* Sidebar */
aside {
  position: fixed;
  padding: 1rem;
  top: 0;
  bottom: 0;
  width: 20rem;
  border-right: .1rem solid var(--accent-color);
  box-sizing: border-box;
  overflow-y: auto;
  transition: .5s height;
  z-index: 1;
}

h1 {
  font-family: Tahoma, sans-serif;
  padding: 0;
  margin: 0 0 .2rem 0;
}

.logo {
  float: left;
  margin-right: 1rem;
  fill: var(--text-color);
  width: 3.6rem;
}

.sub_header {
  font-size: .8rem;
  position: relative;
  left: 0.3rem;
}

hr {
  margin: 1rem 0;
  height: 0;
  border: none;
  border-top: .1rem solid var(--accent-color);
}

footer {
  font-size: .8rem;
  text-align: center;
  line-height: 1.75;
}

footer a {
  color: var(--text-color);
}

/* Main Area */
main {
  margin-left: 20rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}


h2 {
  font-size: 1.3rem;
  font-weight: 100;
  margin: 0 0 .5rem 0;
}


/*==========================================================================
  Text Selection
  ==========================================================================  */

::selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

::-moz-selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

/*==========================================================================
  Feature Modal
  ==========================================================================  */

#featureDetection {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: white;
  padding: 1rem;
  overflow: auto;
}

#featureDetection * {
  max-width: 35rem;
  margin: 0 auto;
}

#featureDetection h1 {
  font-size: 1.5rem;
}

#featureDetection p {
  line-height: 1.45;
  margin-bottom: 1rem;
}

#featureDetection img {
  position: relative;
  width: 100px;
  left: 46%;
  top: 2rem;
}

/*==========================================================================
  Scroll Bars
  ==========================================================================  */

::-webkit-scrollbar {
  height: .5rem;
  width: .5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--accent-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}

/*==========================================================================
  Tabs
  ==========================================================================  */

#tabs {
  display: flex;
  margin: 1rem 1rem 0 1rem;
  border-bottom: .1rem solid var(--text-color);
  overflow-x: auto;
}

#tabs button {
  margin-right: .5rem;
  border-bottom: none;
  transform: translateY(0rem);
  box-shadow: 0 0rem 0 var(--text-color);
}

#tabs button.current {
  background: var(--text-color);
  color: var(--background-color);
  cursor: default;
  pointer-events: none;
}

#tabs button.current svg {
  fill: var(--background-color);
}

/*==========================================================================
  Css Output
  ==========================================================================  */

#output {
  white-space: pre;
}

/*==========================================================================
  Modifiers
  ==========================================================================  */

.italics {
  font-style: italic;
}


/*==========================================================================
  Utils
  ==========================================================================  */

.hidden, *[hidden] {
  display: none;
}