/*
Type Board
Author: Andrew Battenburg
*/

/*==========================================================================
  Imports
  ==========================================================================  */

/* TODO:" Add black type for missing glyphs  */
@import 'blankType.css';
@import 'proMode.css';
@import 'sliders.css';
@import 'mobile.css';
@import 'themes.css';

/*==========================================================================
  Global
  ==========================================================================  */

:root {
  /*Default settings*/
  --column-font-size: 1rem;
  --font-weight: 400;
  --font-style: normal;
  --letter-spacing: 0rem;
  --background-color: rgba(255, 255, 255, 0.996);
  --text-color: rgba(17, 17, 17, 0.996);
  --accent-color: rgba(205, 205, 205, 0.996);
  /*transform: translateZ(0);*/
}

html {
  overflow: hidden;
  font-family: sans-serif;
}

#app {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: .2s all;
}

body {
  margin: 0;
}

/* Sidebar */
aside {
  position: fixed;
  padding: 1rem;
  top: 0;
  bottom: 0;
  width: 20rem;
  border-right: .1rem solid var(--accent-color);
  box-sizing: border-box;
  overflow-y: auto;
  transition: .5s height;
  z-index: 1;
}

h1 {
  font-family: Tahoma, sans-serif;
  padding: 0;
  margin: 0 0 .2rem 0;
}

.logo {
  float: left;
  margin-right: 1rem;
  fill: var(--text-color);
  width: 3.6rem;
}

.sub_header {
  font-size: .8rem;
  position: relative;
  left: 0.3rem;
}

hr {
  margin: 1rem 0;
  height: 0;
  border: none;
  border-top: .1rem solid var(--accent-color);
}

footer {
  font-size: .8rem;
  text-align: center;
  line-height: 1.75;
}

footer a {
  color: var(--text-color);
}

/* Main Area */
main {
  margin-left: 20rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}


h2 {
  font-size: 1.3rem;
  font-weight: 100;
  margin: 0 0 .5rem 0;
}


/*==========================================================================
  Text Selection
  ==========================================================================  */

::selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

::-moz-selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

/*==========================================================================
  Feature Modal
  ==========================================================================  */

#featureDetection {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: white;
  padding: 1rem;
  overflow: auto;
}

#featureDetection * {
  max-width: 35rem;
  margin: 0 auto;
}

#featureDetection h1 {
  font-size: 1.5rem;
}

#featureDetection p {
  line-height: 1.45;
  margin-bottom: 1rem;
}

#featureDetection img {
  position: relative;
  width: 100px;
  left: 46%;
  top: 2rem;
}

/*==========================================================================
  Scroll Bars
  ==========================================================================  */

main::-webkit-scrollbar, aside::-webkit-scrollbar, .autocomplete-suggestions::-webkit-scrollbar, #text_board pre::-webkit-scrollbar {
  height: .5rem;
  width: .5rem;
}

main::-webkit-scrollbar-track, aside::-webkit-scrollbar-track, .autocomplete-suggestions::-webkit-scrollbar-track, #text_board pre::-webkit-scrollbar-track {
  background-color: var(--accent-color);
}

main::-webkit-scrollbar-thumb, aside::-webkit-scrollbar-thumb, .autocomplete-suggestions::-webkit-scrollbar-thumb, #text_board pre::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}

/*==========================================================================
  Checkboxes
  ==========================================================================  */

.checkbox {
  display: none;
}

.checkbox+label {
  display: flex;
  cursor: pointer;
  padding: 0.5rem 0;
  user-select: none;
}

.checkbox+label:before {
  content: '';
  justify-content: center;
  font-size: 14px;
  width: 1rem;
  height: 1rem;
  background: var(--text-color);
  color: var(--background-color);
  line-height: 1.3;
  margin-right: 0.6rem;
  text-align: center;
}

.checkbox:checked+label:before {
  content: '\2714';
}

/*==========================================================================
  Dropdowns
  ==========================================================================  */

select {
  width: 100%;
  margin-bottom: 1rem;
  padding: .35rem;
}

select option, select optgroup {
  background-color: var(--background-color);
  color: var(--text-color);
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
  cursor: text;
  padding: .35rem;
}

/*AutoComplete*/

.autocomplete-suggestions {
  text-align: left;
  cursor: pointer;
  color: var(--text-color);
  border: 1px solid var(--accent-color);
  border-top: 0;
  background: var(--background-color);
  box-shadow: -1px 1px 3px var(--accent-color);
  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.autocomplete-suggestion {
  position: relative;
  padding: 0 .6em;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  color: var(--text-color);
}

.autocomplete-suggestion b {
  font-weight: 400;
  text-decoration: underline;
}

.autocomplete-suggestion.selected {
  background: var(--text-color);
  color: var(--background-color);
}

/*==========================================================================
  Typelist
  ==========================================================================  */

#type_list {}

#type_list ul {
  padding: 0;
}

#type_list li {
  display: flex;
  align-items: center;
  border-bottom: .1rem solid var(--accent-color);
  list-style-type: none;
}

#type_list li:first-of-type {
  border-top: .1rem solid var(--accent-color);
}

#type_list button {
  font-family: Arial;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  text-align: center;
  margin-left: auto;
  font-size: 0.8rem;
  border: none;
  box-shadow: none;
  transform: translateY(0rem);
  color: var(--text-color);
  background-color: var(--background-color);
  transition: .1s color, .1s background-color;
}

#type_list button:hover, #type_list button:hover, #type_list button:active {
  transform: translateY(0rem);
  color: var(--background-color);
  background-color: var(--text-color);
  transition: .1s color, .1s background-color;
}

/*==========================================================================
  Tabs
  ==========================================================================  */

#tabs {
  display: flex;
  margin: 1rem 1rem 0 1rem;
  border-bottom: .1rem solid var(--text-color);
  overflow-x: auto;
}

#tabs button {
  margin-right: .5rem;
  border-bottom: none;
  transform: translateY(0rem);
  box-shadow: 0 0rem 0 var(--text-color);
}

#tabs button.current {
  background: var(--text-color);
  color: var(--background-color);
  cursor: default;
  pointer-events: none;
}

#tabs button.current svg {
  fill: var(--background-color);
}

/*==========================================================================
  Css Output
  ==========================================================================  */

#output {
  white-space: pre;
}

/*==========================================================================
  Modifiers
  ==========================================================================  */

.italics {
  font-style: italic;
}

/*==========================================================================
  Buttons, Inputs
  ==========================================================================  */

::placeholder {
  color: var(--accent-color);
}

button, .button {
  display: flex;
  font-size: 1rem;
  background: none;
  text-decoration: none;
  padding: .2rem .5rem;
  border: .1rem solid var(--text-color);
  color: var(--text-color);
  transition: .1s background-color, .1s color;
}

button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--background-color);
  transition: .1s background-color, .1s color;
}

button:hover svg, button:focus svg, .button:hover svg, .button:focus svg {
  fill: var(--background-color);
  transition: .1s background-color, .1s color;
}

button:active, .button:active {
  background-color: var(--accent-color);
  transition: .1s background-color, .1s color;
}

button svg, .button svg {
  height: 1rem;
  fill: var(--text-color);
  margin-right: .5rem;
  align-self: center;
}

button.disabled, button[disabled] {
  border-color: var(--accent-color);
  color: var(--accent-color);
  pointer-events: none;
}

button .disabled svg, button[disabled] svg {
  fill: var(--accent-color);
}

textarea, input[type=text] {
  width: 100%;
  background-color: transparent;
  border: .1rem solid var(--text-color);
  box-sizing: border-box;
}

input[type=text] {
  padding: .35rem;
}

label.button {
  display: inline-block;
}

/*==========================================================================
  Utils
  ==========================================================================  */

.hidden, *[hidden] {
  display: none;
}