/*
Type Board
Author: Andrew Battenburg
*/



/* ==========================================================================
   Global
   ========================================================================== */

:root {
    /*Default settings*/
    --column-font-size: 1rem;
    --font-weight: 400;
    --font-style: normal;
    --background-color:         rgba(255,255,255,0.996);
    --text-color:               rgba(17,17,17,0.996);
    --accent-color:             rgba(205,205,205,1);
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-family: Tahoma;
    padding: 0 1rem;
}

::selection {
    color: var(--background-color);
    background-color: var(--text-color);
    opacity: .999;
}

::placeholder {
    color: var(--accent-color);
}



/* ==========================================================================
    Type Board Controls
   ========================================================================== */


.typeboard_controls{
    margin: 1rem;
    padding: 1rem 0;
    border-bottom: .1rem solid var(--accent-color);
}


/* ==========================================================================
    Text Board
   ========================================================================== */

#text_board {
    margin: 1rem;

}
#text_board pre {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    font-family: inherit;
    margin-top: 0;

}


#text_board pre::-webkit-scrollbar {
    height: .5rem;
}

#text_board pre::-webkit-scrollbar-track {
     background-color: var(--accent-color);
 }

#text_board pre::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

#text_board .text_sample {
    font-size: var(--column-font-size);
    font-weight: var(--font-weight);
    font-style: var(--font-style);


    margin: .5rem 0;
}


/* ==========================================================================
   Type Column
   ========================================================================== */

#char_board {
    display: flex;
}

.type_column {}

.type_column {
    flex: 1;
}
.type_column .charmap {
    padding: 0 1rem;
    border-right: .1rem solid var(--accent-color);
}
.type_column:last-of-type .charmap {
    margin-right: 0;
    border-right: none;
}


.type_column .charmap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
}

.type_column .charmap div {

    line-height: 1.5;
    font-size: var(--column-font-size);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    width: calc(1.5 * var(--column-font-size));
    align-self: center;
    text-align: center;
    border: .1rem solid var(--background-color);

}
.type_column .charmap div:hover,
.type_column .charmap div:focus {
    border: .1rem solid var(--text-color);
}


.type_column .header {
    display: flex;
    align-items: center;
    position: relative;
    font-style: normal;
    font-weight: normal;
    border-bottom: .1rem solid var(--accent-color);
    margin: 0 1rem 1rem 1rem;
}
.type_column .header h2 {
    margin: .5rem 0;
    font-weight: normal;
}
.type_column .header button {
    position: absolute;
    right: 0;
}



/* ==========================================================================
    Modifiers
   ========================================================================== */


.italics {
    font-style: italic;
}

/* ==========================================================================
    Buttons, Inputs
   ========================================================================== */

button, .button {
    font-size: 1rem;
    background: none;
    text-decoration: none;
    padding: .2rem .5rem;
    border: .1rem solid var(--text-color);
    transform: translateY(-.1rem);
    box-shadow: 0 .1rem 0 var(--text-color);
    border-radius: .1rem;

    transition: .1s box-shadow, .1s transform;

}
button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    transform: translateY(-.2rem);
    box-shadow: 0 .2rem 0 var(--text-color);
    transition: .1s box-shadow, .1s transform;
}

button:active,
.button:active {
    transform: translateY(0rem);
    box-shadow: 0 0rem 0 var(--text-color);
    transition: .1s box-shadow, .1s transform;
}

select {
    background-color: transparent;
}
select option, select optgroup {
    color: black;
}

textarea {
    width: 100%;
    background-color: transparent;
    border-color: var(--accent-color);
    box-sizing: border-box;
}


/* ==========================================================================
   AutoComplete
   ========================================================================== */

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }



/* ==========================================================================
   Themes
   ========================================================================== */

.theme {
    transition: .2s all;
}

/*Light Themes*/

/*0.996 (255/256) do to Chrome forcing transparency on text selection*/

.theme.theme_black_white {
    --background-color:         rgba(255,255,255,0.996);
    --text-color:               rgba(17,17,17,0.996);
    --accent-color:             rgba(205,205,205,1);
}

.theme.theme_blue_white {
    --background-color:         rgba(252,252,255,0.996);
    --text-color:               rgba(65, 95, 210, 0.996);
    --accent-color:             rgb(180, 190, 240);
}
.theme.theme_tangerine_grey {
    --background-color:         rgba(245,247,247,0.996);
    --text-color:               rgba(250, 70, 10, 0.996);
    --accent-color:             rgba(240, 220, 225, 1);
}

.theme.theme_grey_grey {
    --background-color:         rgba(248,250,245,0.996);
    --text-color:               rgba(100,100,100,0.996);
    --accent-color:             rgba(205,205,205,1);
}

/*Dark Themes*/

.theme.theme_white_black {
    --background-color:         rgba(17,17,17,0.996);
    --text-color:               rgba(255,255,255,0.996);
    --accent-color:             rgba(100,100,100,1);
}

.theme.theme_red_midnight {
    --background-color:         rgba(15,15,32,0.996);
    --text-color:               rgba(255,20,0,0.996);
    --accent-color:             rgba(70,55,50,1);
}

.theme.theme_yellow_charcoal {
    --background-color:         rgba(32,32,32,0.996);
    --text-color:               rgba(255,238,0,0.996);
    --accent-color:             rgba(90,90,75,1);
}

.theme.theme_green_black {
    --background-color:         rgba(0,0,0,0.996);
    --text-color:               rgba(0,255,0,0.996);
    --accent-color:             rgba(90,90,75,1);
}

/*Color Themes*/

.theme.theme_yellow_pink {
    --background-color:         rgba(255, 0, 100, 0.996);
    --text-color:               rgba(255, 255, 0, 0.996);
    --accent-color:             rgba(155, 30, 80, 1);
}
.theme.theme_peach_lavender {
    --background-color:         rgba(65, 30, 65, 0.996);
    --text-color:               rgba(250, 175, 150,0.996);
    --accent-color:             rgba(155, 30, 80, 1);
}

.theme.theme_lime_forest {
    --background-color:         rgba(15, 56, 15, 0.996);
    --text-color:               rgba(155, 188, 15, 0.996);
    --accent-color:             rgba(48, 98, 48, 0.996);
}



/* ==========================================================================
    Util
   ========================================================================== */

.hidden, *[hidden] {
    display: none;
}